{% with coti_otros_sin_asignar_list=cotizaciones_creadas_otros_sin_asignar.all %}
    {% with coti_otros_asignadas_list=cotizaciones_creadas_otros_asignadas.all %}
        {% with coti_otros_para_asignar_list=cotizaciones_para_asignar.all %}
            {% with coti_clientes_sin_vendedor=clientes_con_cotizaciones_para_asignar_vendedor.all %}
                {% if coti_otros_sin_asignar_list or coti_otros_asignadas_list or coti_otros_para_asignar_list or coti_clientes_sin_vendedor %}
                    <h1>Asignaciones de Cotizaciones</h1>
                    <hr/>
                    <div class="row">

                        {% if coti_otros_sin_asignar_list %}
                            <div class="col-md-6">
                                <h2>Pedir Asignarme</h2>
                                <p>Listado de Cotizaciones de mis clientes realizados por otro vendedor que debo
                                    pedír
                                    se me
                                    asigne</p>
                                {% include 'trabajo_diario/panel_inicio/components/tabla_asignacion_cliente.html' with lista_cotizaciones_asignacion=coti_otros_sin_asignar_list %}
                            </div>
                        {% endif %}

                        {% if coti_otros_asignadas_list %}
                            <div class="col-md-6">
                                <h2>Asignadas por otros Recientemente</h2>
                                <p>Listado de Cotizaciones creadas por otro vendedor que se me han asignado para
                                    hacer
                                    seguimiento</p>
                                {% include 'trabajo_diario/panel_inicio/components/tabla_asignacion_cliente.html' with lista_cotizaciones_asignacion=coti_otros_asignadas_list %}
                            </div>
                        {% endif %}

                        {% if coti_otros_para_asignar_list %}
                            <div class="col-md-6">
                                <h2>Para Asignar</h2>
                                <p>Listado de Cotizaciones que he realizado y debo de asignar al vendedor
                                    correspondiente</p>
                                {% include 'trabajo_diario/panel_inicio/components/tabla_asignacion_cliente.html' with lista_cotizaciones_asignacion=coti_otros_para_asignar_list %}
                            </div>
                        {% endif %}


                        {% if coti_clientes_sin_vendedor %}
                            <div class="col-md-6">
                                <h2>Clientes para Asignar Vendedores</h2>
                                <p>Listado de Clientes con cotizaciones sin vendedores asignados</p>
                                {% include 'trabajo_diario/panel_inicio/components/tabla_asignacion_cliente.html' with lista_cotizaciones_asignacion=coti_clientes_sin_vendedor %}
                            </div>
                            </div>
                        {% endif %}
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endwith %}
{% endwith %}