{% with comentarios_list=cotizacion.mis_comentarios.all %}
    {% if comentarios_list %}
        <div class="col-xs-12">
            <div class="page-header">
                <h1>
                    Comentarios<span class="badge">{{ cotizacion.mis_comentarios.count }}</span>
                </h1>
            </div>

            {% for comentario in comentarios_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comentario.usuario.get_full_name }}</strong> <span
                            class="text-muted">{{ comentario.created|timesince }}</span>
                    </div>
                    <div class="panel-body">
                        {{ comentario.comentario }}
                    </div><!-- /panel-body -->
                </div><!-- /panel panel-default -->
            {% endfor %}

        </div>
    {% endif %}
{% endwith %}