{% with remisiones=cotizacion.mis_remisiones.all %}
    {% if remisiones %}
        <h2>Remisiones y Facturas</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    Remisión
                </th>
                <th>
                    Factura
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Vendedor
                </th>
                <th>
                    Venta Neta
                </th>
                <th>
                    Activa
                </th>
            </tr>
            </thead>
            <tbody>
            {% for remision in remisiones %}
                <tr>
                    <td>
                        {{ remision.tipo_remision }}-{{ remision.nro_remision }}
                    </td>
                    <td>
                        {% if remision.factura_biable %}
                            <a href="{{ remision.factura_biable.get_absolute_url }}" target="popup"
                               onclick="window.open('{{ remision.factura_biable.get_absolute_url }}','popup','width=600,height=600'); return false;">
                                {{ remision.factura_biable.tipo_documento }}-{{ remision.factura_biable.nro_documento }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ remision.factura_biable.cliente.nombre }}
                    </td>
                    <td>
                        {{ remision.factura_biable.vendedor.nombre }}
                    </td>
                    <td>
                        {{ remision.factura_biable.venta_neto|floatformat }}
                    </td>
                    <td>
                        {% if remision.factura_biable.activa %}
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endwith %}

