{% extends 'reportes/base_reportes_con_filtros.html' %}
{% block title %}
    Consola Ventas
{% endblock %}

{% block titulo_indicador %}
    Consola de Ventas
{% endblock %}

{% block filtros %}
    {% if perms.biable.reportes_ventas and perms.biable.reporte_ventas_2 %}

        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_mes.html' with multiple=True %}
        </div>
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_ano.html' with anos_list=anos_list multiple=True %}
        </div>
    {% else %}
        No tiene permisos suficientes para ver este informe
    {% endif %}
{% endblock %}

{% block resultado %}
    <div id="tabla_pv"></div>
{% endblock %}


<script>
    {% block script %}
        $('#form_consulta').submit(function (e) {
            e.preventDefault()
            var target = e.target;
            var opciones_mes = target['mes'].selectedOptions
            var opciones_ano = target['ano'].selectedOptions

            var meses = $.map(opciones_mes, function (val, i) {
                return parseInt(val.value)
            });
            var anos = $.map(opciones_ano, function (val, i) {
                return parseInt(val.value)
            });
            evento(anos, meses)
        })

        function evento(anos, meses) {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
            var data = {
                'anos': anos,
                'meses': meses
            };
            $.post(".", data, function (data) {
                $('#hora_actualizacion').text("("+data.fecha_actualizacion+")");

                // pivot grid options
                $('#tabla_pv').empty()
                $('#tabla_pv').append('<div id =\'pgrid\'></div>')
                var config = {
                    dataSource: data.lista,
                    dataHeadersLocation: 'columns',
                    canMoveFields: true,
                    theme: 'orange',
                    toolbar: {
                        visible: true
                    },
                    grandTotal: {
                        rowsvisible: true,
                        columnsvisible: true
                    },
                    subTotal: {
                        visible: true,
                        collapsed: true
                    },
                    fields: [
                        {name: 'vendedor_nombre', caption: 'Vendedor'},
                        {name: 'tipo_documento', caption: 'Tipo Documento'},
                        {name: 'cliente', caption: 'Cliente'},
                        {name: 'day', caption: 'Día'},
                        {name: 'linea', caption: 'Línea'},
                        {name: 'documento', caption: 'Nro Documento'},
                        {
                            name: 'v_neto', caption: 'Valor Neto',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                    ],
                    rows: ['day','documento'],
                    columns: ['vendedor_nombre'],
                    data: ['v_neto']
                };

                // instantiate and show the pivot grid
                new orb.pgridwidget(config).render(document.getElementById('pgrid'));
{#                google.charts.load("current", {packages: ["calendar"]});#}
{#                google.charts.setOnLoadCallback(drawChart);#}

            });
        }

{#        function drawChart() {#}
{#            var dataTable = new google.visualization.DataTable();#}
{#            dataTable.addColumn({type: 'date', id: 'Date'});#}
{#            dataTable.addColumn({type: 'number', id: 'Won/Loss'});#}
{#            dataTable.addRows([#}
{#                [new Date(2012, 3, 13), 37032],#}
{#                [new Date(2012, 3, 14), 38024],#}
{#                [new Date(2012, 3, 15), 38024],#}
{#                [new Date(2012, 3, 16), 38108],#}
{#                [new Date(2012, 3, 17), 38229],#}
{#                // Many rows omitted for brevity.#}
{#                [new Date(2013, 9, 4), 38177],#}
{#                [new Date(2013, 9, 5), 38705],#}
{#                [new Date(2013, 9, 12), 38210],#}
{#                [new Date(2013, 9, 13), 38029],#}
{#                [new Date(2013, 9, 19), 38823],#}
{#                [new Date(2013, 9, 23), 38345],#}
{#                [new Date(2013, 9, 24), 38436],#}
{#                [new Date(2013, 9, 30), 38447]#}
{#            ]);#}
{##}
{#            var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));#}
{##}
{#            var options = {#}
{#                title: "Red Sox Attendance",#}
{#                height: 350,#}
{#            };#}
{##}
{#            chart.draw(dataTable, options);#}
{#        }#}



    {% endblock %}
</script>