{% extends 'reportes/base_reportes_con_filtros.html' %}

{% block title %}
    Vent x Lin x Año x Mes
{% endblock %}

{% block titulo_indicador %}
    Ventas por Linea por Año por Mes
{% endblock %}

{% block filtros %}
    {% if perms.biable.reportes_ventas and perms.biable.reporte_ventas_3 %}
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_lineas.html' with lineas=lineas_list %}
        </div>
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_ano.html' with anos_list=anos_list multiple=True %}
        </div>
    {% else %}
        No tiene permisos suficientes para ver este informe
    {% endif %}
{% endblock %}

{% block resultado %}
    <div id="tabla_pv"></div>
{% endblock %}

<script>
    {% block script %}
        $('#form_consulta').submit(function (e) {
            e.preventDefault()
            var target = e.target;
            var opciones_ano = target['ano'].selectedOptions
            var opciones_linea = target['linea'].value

            var anos = $.map(opciones_ano, function (val, i) {
                return parseInt(val.value)
            });
            evento(anos, opciones_linea)
        })

        function evento(anos, linea) {
            $.ajaxSetup({
                headers: {"X-CSRFToken": getCookie("csrftoken")}
            });
            var data = {
                'anos': anos,
                'linea': linea
            };
            $.post(".", data, function (data) {
               $('#hora_actualizacion').text("("+data.fecha_actualizacion+")");

                // pivot grid options
                $('#tabla_pv').empty()
                $('#tabla_pv').append('<div id =\'pgrid\'></div>')
                var config = {
                    dataSource: data.lista,
                    dataHeadersLocation: 'rows',
                    canMoveFields: true,
                    theme: 'orange',
                    toolbar: {
                        visible: true
                    },
                    grandTotal: {
                        rowsvisible: false,
                        columnsvisible: true
                    },
                    subTotal: {
                        visible: true,
                        collapsed: true
                    },
                    rowSettings: {
                        sort: {order: 'desc'}
                    },
                    fields: [
                        {name: 'year', caption: 'Año'},
                        {name: 'month', caption: 'Mes'},
                        {
                            name: 'v_bruta', caption: 'Valor Bruto',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                        {
                            name: 'Costo', caption: 'Costo',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                        {
                            name: 'v_neto', caption: 'Valor Neto',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                        {
                            name: 'renta', caption: 'Rentabilidad',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                        {
                            name: 'Descuentos', caption: 'Descuentos',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? '$' + Number(value).formatMoney(0, ',', '.') : '';
                                }
                            }
                        },
                        {
                            name: 'Margen', caption: 'Margen',
                            dataSettings: {
                                aggregateFunc: 'sum',
                                formatFunc: function (value) {
                                    return value ? Number(value).formatMoney(2, ',', '.') + '%' : '';
                                }
                            }
                        }
                    ],
                    rows: ['year'],
                    columns: ['month'],
                    data: ['v_neto']
                };

                // instantiate and show the pivot grid
                new orb.pgridwidget(config).render(document.getElementById('pgrid'));
            });
        }
    {% endblock %}
</script>