# Elastic Beanstalk Files.elasticbeanstalk/*!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.ymlsecretsLocal.json.idea/*/.idea/inspectionProfiles/profiles_settings.xml/secretsLocal.json/.idea/vcs.xml/zappa_settings.json