{% extends 'base.html' %}
{% block content %}
    <h1>Tareas del Día de
        <small>{{ object.usuario.get_full_name }}</small>
    </h1>

    {% if object.tareas_cotizacion.all %}
        {% include 'trabajo_diario/panel_inicio/components/trabajo_diario_por_vendedor_lista.html' with lista_tareas=object.tareas_cotizacion tipo='Seguimiento Cotizaciones' %}
    {% endif %}

    {% if object.tareas_cartera.all %}
        {% include 'trabajo_diario/panel_inicio/components/trabajo_diario_por_vendedor_lista.html' with lista_tareas=object.tareas_cartera tipo='Seguimiento Cartera' %}
    {% endif %}

    {% if object.tareas_envios_tcc.all %}
        {% include 'trabajo_diario/panel_inicio/components/trabajo_diario_por_vendedor_lista.html' with lista_tareas=object.tareas_envios_tcc tipo='Seguimiento Envios TCC' %}
    {% endif %}
{% endblock %}