{% extends 'base.html' %}
{% block content %}
    <h1>{{ vendedor.get_full_name }}</h1>
    <form action="{% url 'seguimientos:usuarios_gestion_comercial' pk=vendedor.pk %}" method="get">
        <button>TODO</button>
        <button name="tipo_seguimiento_comercial" value="seguimiento_cotizacion">Seguimiento Cotizacion</button>
        <button name="tipo_seguimiento_comercial" value="seguimiento_cartera">Seguimiento Cartera</button>
        <button name="tipo_seguimiento_comercial" value="seguimiento_tcc">Seguimiento TCC</button>
        <button name="tipo_seguimiento_comercial" value="contactos">Contactos</button>
        <button name="tipo_seguimiento_comercial" value="seguimiento_cliente">Seguimiento Cliente</button>
        <button name="tipo_seguimiento_comercial" value="comentario_cotizacion">Comentarios Cotizacion</button>
        <button name="tipo_seguimiento_comercial" value="cotizacion">Cotizacion</button>
    </form>
    {% include 'biable/clientes/cliente_detail_partes/timeline.html' %}
{% endblock %}