{% extends 'base.html' %}
{% block content %}

    {% regroup bandas_list|dictsort:"serie.nombre" by serie as serie_list %}
    {% for serie in serie_list %}
        <h2>{{ serie.grouper.nombre }}</h2>
        {% regroup serie.list|dictsort:"tipo.tipo.nombre" by tipo as tipo_list %}
        <div style="padding-left: 2rem">
            {% for tipo in tipo_list %}
                <h3>{{ tipo.grouper }}</h3>
                <div class="detalles_cuadro_detalle" style="padding-left: 2rem">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>
                                Ancho (mm)
                            </th>
                            <th>
                                Empujador
                            </th>
                            <th>
                                Aleta
                            </th>
                            <th>
                                Referencia
                            </th>
                            <th>
                                Nombre
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for banda in tipo.list|dictsort:"ancho" %}
                            <tr>
                                <td>
                                    {{ banda.ancho }}
                                </td>
                                <td>
                                    {% if banda.con_empujador %}
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if banda.con_aleta %}
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ banda.get_absolute_url }}">
                                        {{ banda.referencia }}
                                    </a>
                                </td>
                                <td>
                                    {{ banda.descripcion_comercial }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
{% endblock %}