{% extends 'base.html' %}
{% block content %}
    <div class="intranet">
        <h1>{{ object.descripcion_estandar }}</h1>
        <hr/>
        <h2>Información General</h2>
        <div class="row">
            <div class="col-sm-12"><span class="label">Código CGUno: </span>{{ object.id_cguno }}</div>
            <div class="col-xs-12"><span class="label">Descripción Comercial: </span>{{ object.descripcion_comercial }}
            </div>
            <div class="col-xs-12"><span class="label">Referencia: </span>{{ object.referencia }}</div>
            <div class="col-sm-6"><span class="label">Serie: </span>{{ object.serie }}</div>
            <div class="col-sm-6"><span class="label">Tipo: </span>{{ object.tipo }}</div>
            <div class="col-sm-6"><span class="label">Material: </span>{{ object.material }}</div>
            <div class="col-sm-6"><span class="label">Color: </span>{{ object.color }}</div>
            <div class="col-sm-6"><span class="label">Ancho: </span>{{ object.ancho }} (mm)</div>
            <div class="col-sm-6"><span class="label">Longitud: </span>{{ object.longitud }} (m)</div>
            <div class="col-sm-6"><span class="label">Varilla: </span>{{ object.material_varilla }}</div>
        </div>


        {% if object.con_empujador %}
            <hr/>
            <h2>Empujador</h2>
            <div class="row">

                <div class="col-sm-6"><span class="label">Tipo: </span>{{ object.empujador_tipo }}</div>
                <div class="col-sm-6"><span class="label">Altura: </span>{{ object.empujador_altura }} (mm)</div>
                <div class="col-sm-6"><span class="label">Ancho: </span>{{ object.empujador_ancho }} (mm)</div>
                <div class="col-sm-6"><span class="label">Distanciamiento: </span>{{ object.empujador_distanciado }}
                    (mm)
                </div>
                <div class="col-sm-6"><span class="label">Identacion: </span>{{ object.empujador_identacion }}</div>
            </div>

        {% endif %}

        {% if object.con_aleta %}
            <hr/>
            <h2>Aleta</h2>
            <div class="row">
                <div class="col-sm-6"><span class="label">Aleta: </span>{{ object.aleta_altura }} (mm)</div>
                <div class="col-sm-6"><span class="label">Identacion: </span>{{ object.aleta_identacion }}</div>
            </div>
        {% endif %}

        <hr/>
        <h2>Componentes</h2>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>
                    Referencia
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Cortado a
                </th>
                <th>
                    Cant.
                </th>
                <th>
                    Categoria
                </th>
                {#                <th>#}
                {#                    Precio Unitario#}
                {#                </th>#}
                {#                <th>#}
                {#                    Total#}
                {#                </th>#}
            </tr>
            </thead>
            <tbody>
            {% for ensamblado in object.ensamblado.all %}
                <tr>
                    <td>
                        {{ ensamblado.producto.referencia }}
                    </td>
                    <td>
                        {{ ensamblado.producto.descripcion_comercial }}
                    </td>
                    <td>
                        {{ ensamblado.cortado_a }}
                    </td>
                    <td>
                        {{ ensamblado.cantidad }}
                    </td>
                    <td>
                        {{ ensamblado.producto.margen.categoria }}
                    </td>
                    {#                    <td>#}
                    {#                        {{ ensamblado.producto.precio_base }}#}
                    {#                    </td>#}
                    {#                    <td>#}
                    {#                        {{ ensamblado.precio_linea }}#}
                    {#                    </td>#}
                </tr>
            {% endfor %}
            </tbody>
{#            <tfoot>#}
{#            <tr>#}
{#                <td colspan="7"> Total:</td>#}
{#                <td> {{ object.precio_total }} </td>#}
{#            </tr>#}
{#            </tfoot>#}
        </table>
    </div>

{% endblock %}