{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <h1>Detalles Factura {{ object.tipo_documento }}-{{ object.nro_documento }} </h1>
    <div class="row">
        <div class="col-md-6">
            <h3>Información Factura</h3>
            <hr>
            {% if not object.activa %}<i class="fa fa-times-circle fa-3x" aria-hidden="true">Anulada</i>{% endif %}
            <p>
                <span class="label">Cliente:</span> <a
                    href="{{ object.cliente.get_absolute_url }}" target="_blank"> {{ object.cliente|title }} </a>
            </p>
            <p>
                <span class="label">Fecha:</span> {{ object.fecha_documento }}
            </p>
            <p>
                <span class="label">Vendedor:</span> {{ object.vendedor.nombre|title }}
            </p>
            <p>
                <span class="label">Ciudad:</span> {{ object.ciudad_biable.ciudad_intranet.nombre }}
            </p>
            <p>
                <span class="label">Departamento:</span> {{ object.ciudad_biable.ciudad_intranet.departamento.nombre }}
            </p>
            <p>
                <span class="label">Dirección de Envío:</span> {{ object.direccion_despacho }}
            </p>
            <p>
                <span class="label">Facturación Bruta:</span> {{ object.venta_bruta|floatformat:2 }}
            </p>
            <p>
                <span class="label">Descuentos Netos:</span> {{ object.dscto_netos|floatformat:2 }}
            </p>
            {% if perms.biable.ver_info_admon_ventas %}
                <p>
                    <span class="label">Costo Total:</span> {{ object.costo_total|floatformat:2 }}
                </p>
                <p>
                    <span class="label">Rentabilidad:</span> {{ object.rentabilidad|floatformat:2 }}
                </p>
            {% endif %}
            <p>
                <span class="label">Valor Neto:</span> {{ object.venta_neto|floatformat:2 }}
            </p>
        </div>
    </div>

    {% with mis_movimientos_list=object.mis_movimientos_venta.all %}
        {% if mis_movimientos_list %}
            <h2>Items Relacionados</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        ID cguno
                    </th>
                    <th>
                        Referencia
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Venta Bruta
                    </th>
                    <th>
                        Descuentos Netos
                    </th>
                    <th>
                        Impuestos Netos
                    </th>
                    <th>
                        Venta Neta
                    </th>
                    {% if perms.biable.ver_info_admon_ventas %}
                        <th>
                            Costo Total
                        </th>
                        <th>
                            Rentabilidad
                        </th>
                    {% endif %}
                </tr>

                </thead>
                <tbody>

                {% for item in mis_movimientos_list %}
                    <tr>
                        <td>
                            {{ item.item_biable.id_item }}
                        </td>
                        <td>
                            {{ item.item_biable.id_referencia }}
                        </td>
                        <td>
                            {{ item.item_biable.descripcion }}
                        </td>
                        <td>
                            {{ item.precio_uni|floatformat:2 }}
                        </td>
                        <td>
                            {{ item.cantidad|floatformat }}
                        </td>
                        <td>
                            {{ item.venta_bruta|floatformat:2 }}
                        </td>
                        <td>
                            {{ item.dscto_netos|floatformat:2 }}
                        </td>
                        <td>
                            {{ item.imp_netos|floatformat:2 }}
                        </td>
                        <td>
                            {{ item.venta_neto|floatformat:2 }}
                        </td>
                        {% if perms.biable.ver_info_admon_ventas %}
                            <td>
                                {{ item.costo_total|floatformat:2 }}
                            </td>
                            <td>
                                {{ item.rentabilidad|floatformat:2 }}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% if object.activa %}
                Problemas al cargar archivos, por favor informar al administrador del sistema
            {% else %}
                Esta anulada, no hay infomración de Items para esta factura
            {% endif %}
        {% endif %}
    {% endwith %}

    {% with remisiones_list=object.mis_remisiones.all %}
        {% if remisiones_list %}
            <h2>Cotizaciones Relacionadas</h2>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Nro.
                    </th>
                    <th>
                        Fecha Env.
                    </th>
                    <th>

                    </th>
                    <th>
                        Razón S.
                    </th>
                    <th>
                        Ciudad
                    </th>
                    <th>
                        Vendedor
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Versión
                    </th>
                    <th>
                        Contacto
                    </th>
                    <th>
                        Nro. Contacto
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for remision in remisiones_list %}
                    <tr>
                        <td>
                            <a href="{{ remision.cotizacion.get_absolute_url }}">{{ remision.cotizacion.nro_cotizacion }}</a>
                        </td>
                        <td>
                            {{ remision.cotizacion.fecha_envio }}
                        </td>
                        <td>
                            {{ remision.cotizacion.fecha_envio|naturaltime|capfirst }}
                        </td>
                        <td>
                            {% if remision.cotizacion.cliente_nuevo %}
                                {{ remision.cotizacion.razon_social }}
                            {% else %}
                                <a href="{{ remision.cotizacion.cliente_biable.get_absolute_url }}"
                                   target="_blank">{{ remision.cotizacion.cliente_biable.nombre }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if remision.cotizacion.otra_ciudad %}
                                {{ remision.cotizacion.pais|title }} - {{ remision.cotizacion.ciudad|title }}
                            {% else %}
                                {{ remision.cotizacion.ciudad_despacho.nombre|title }} -
                                {{ remision.cotizacion.ciudad_despacho.departamento.nombre|title }} -
                                {{ remision.cotizacion.ciudad_despacho.departamento.pais.nombre|title }}
                            {% endif %}
                        </td>
                        <td>
                            {{ remision.cotizacion.usuario }}
                        </td>
                        <td>
                            {{ remision.cotizacion.get_estado_display }}
                        </td>
                        <td>
                            {{ remision.cotizacion.version }}
                        </td>
                        <td>
                            {{ remision.cotizacion.nombres_contacto }} {{ remision.cotizacion.apellidos_contacto }}
                        </td>
                        <td>
                            {{ remision.cotizacion.nro_contacto }}
                        </td>
                        <td>
                            {{ remision.cotizacion.email }}
                        </td>
                        <td>
                            {{ remision.cotizacion.total }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}

{% endblock %}

#remisioncotizacion_set