{% extends 'reportes/base_reportes_con_filtros.html' %}

{% block title %}
    Mrg x Factura
{% endblock %}

{% block titulo_indicador %}
    Margen x Factura
{% endblock %}

{% block filtros %}
    {% if perms.biable.reportes_ventas and perms.biable.reporte_ventas_3 %}
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_lineas.html' with lineas=lineas_list %}
        </div>
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_mes.html' with multiple=True %}
        </div>
        <div class="col-sx-12 col-sm-4 col-md-3">
            {% include 'reportes/components/lista_ano.html' with anos_list=anos_list multiple=True %}
        </div>
    {% else %}
        No tiene permisos suficientes para ver este informe
    {% endif %}
{% endblock %}

{% block resultado %}
    {% with facturas=facturas_list.all %}
        {% if facturas %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        Factura
                    </th>
                    <th>
                        Cliente
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Vendedor
                    </th>
                    <th>
                        Venta
                    </th>
                    <th>
                        Costo
                    </th>
                    <th>
                        Rentabilidad
                    </th>
                    <th>
                        Margen
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for factura in facturas %}
                    <tr>
                        <td>
                            <a href="{{ factura.get_absolute_url }}">
                                {{ factura.tipo_documento }}-{{ factura.nro_documento }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ factura.cliente.get_absolute_url }}">
                                {{ factura.cliente.nombre }}
                            </a>
                        </td>
                        <td>
                            {{ factura.fecha_documento }}
                        </td>
                        <td>
                            {{ factura.vendedor.nombre }}
                        </td>
                        <td>
                            {{ factura.venta_neto|floatformat }}
                        </td>
                        <td>
                            {{ factura.costo_total|floatformat }}
                        </td>
                        <td>
                            {{ factura.rentabilidad|floatformat }}
                        </td>
                        <td>
                            {{ factura.margen|floatformat }}%
                        </td>
                    </tr>
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endwith %}
{% endblock %}