{% extends "cotizaciones/base_cotizacion.html" %}
{% load funciones_especiales %}
{% load crispy_forms_tags %}
{% load static %}

{% block titulo_pagina %}
    Cotizador {% if cotizacion_actual %}{{ cotizacion_actual.nro_cotizacion }}{% endif %}
{% endblock %}

{% block content_page %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Atención!: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% with cotizaciones_activas_list=cotizaciones_activas.all %}
        {% include 'cotizaciones/cotizador/cotizaciones_actuales_menu.html' %}
    {% endwith %}


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" {% if not tab == "LP" %} class="active" {% endif %}>
            <a href="#cotizacion" aria-controls="cotizacion" role="tab" data-toggle="tab">
                Detalle Cotización
            </a>
        </li>
        <li role="presentation"{% if tab == "LP" %} class="active" {% endif %}>
            <a href="#lista_precios" aria-controls="lista_precios" role="tab" data-toggle="tab">
                Lista de Precios
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {% if not tab == "LP" %} active {% endif %}" id="cotizacion">
            <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
            <div class="row">
                {% if cotizacion_actual %}
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                {% with sucursales=cotizacion_actual.cliente_biable.mis_sucursales.all %}
                                    {% if sucursales %}
                                        <h3>Vendedores que atienden a {{ cotizacion_actual.cliente_biable.nombre }}</h3>
                                        {% for sucursal_cliente in sucursales %}
                                            <li>
                                                {% if sucursal_cliente.vendedor_real %}
                                                    {{ sucursal_cliente.vendedor_real|title }} -
                                                {% else %}
                                                    <span style="color: red">SIN VENDEDOR ASIGNADO - </span>
                                                {% endif %}
                                                {% if sucursal_cliente.nombre_establecimiento_intranet %}
                                                    {{ sucursal_cliente.nombre_establecimiento_intranet }}
                                                {% else %}
                                                    {{ sucursal_cliente.direccion }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                                <h3>Detalle Cotización {{ cotizacion_actual.nro_cotizacion }}</h3>
                                {% include 'cotizaciones/cotizador/cotizacion_detalle.html' %}
                            </div>
                            <div class="col-md-12">
                                <div>
                                    <h3>Adicionar Item Fuera de Lista</h3>
                                    <hr>
                                    {% crispy forma_item_otro %}
                                </div>
                            </div>
                            {% include 'cotizaciones/cotizador/imagenes_cotizacion.html' %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3>Cotización {{ cotizacion_actual.nro_cotizacion }}</h3>
                        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
                        {% crispy form %}
                    </div>
                {% else %}
                    <div class="col-md-3 col-md-offset-3">
                        <h3>Crear Cotización</h3>
                        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
                        {% crispy form %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane {% if tab == "LP" %} active {% endif %}" id="lista_precios">
            <div class="row">
                {% include 'cotizaciones/cotizador/lista_precios.html' %}
            </div>
        </div>

    </div>
{% endblock %}

{% block jquery_version %}

{% endblock %}

<script>
    {% block script %}
        $(".item-qty").change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            var qty = $(this).val();
            var data = {
                item: item,
                qty: qty
            };
            $.get("{% url 'cotizaciones:add_qty_item_cotizacion' %}", data, function (data) {
                if (data.error_cantidad) {
                    alert("Digitar correctamente la cantidad para " + data.actual_item_error)
                }
                $("#coti_val_total").html(numberWithCommas(data.total_cotizacion));
                $("#coti_val_descuento").html(numberWithCommas(data.descuento_total));
                if (data.deleted) {
                    $("#item-" + item).fadeOut();
                }
                else {
                    $("#item-" + item).find('.total').html(numberWithCommas(data.total_line))
                    $("#item-" + item).find('.descuento').html(numberWithCommas(data.descuento))
                    $("#item-" + item).find('.cantidad_total').html(numberWithCommas(data.total_cantidad))
                }
            });
        });
        $(".item-ent").change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            var dias = $(this).val();
            var data = {
                item: item,
                dias: dias
            };
            $.get("{% url 'cotizaciones:cambiar_dias_item_cotizacion' %}", data, function (data) {
                if (data.error_cantidad) {
                    alert("Digitar correctamente los días de entrega para " + data.actual_item_error)
                }
            });
        });
        $(".item-desc").change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            var desc = $(this).val();
            var data = {
                item: item,
                desc: desc
            };
            $.get("{% url 'cotizaciones:cambiar_descuento_item_cotizacion' %}", data, function (data) {
                if (data.error_porcentaje) {
                    alert(data.error_mensaje)
                }
                $("#item-" + item).find('.total').html(numberWithCommas(data.total_line))
                $("#item-" + item).find('.descuento').html(numberWithCommas(data.descuento))
                $("#coti_val_total").html(numberWithCommas(data.total_cotizacion));
                $("#coti_val_descuento").html(numberWithCommas(data.descuento_total));
            });
        });

        $(".item-qty-perdido").change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            var cant_perdida = $(this).val();
            var motivo_perdida = $(this).parent().parent().find('.tipo_perdida').find('.select-venta-perdida').val()
            var data = {
                item: item,
                cant_perdida: cant_perdida,
                motivo_perdida: motivo_perdida
            };
            $.get("{% url 'cotizaciones:cambiar_venta_perdida_item_cotizacion' %}", data, function (data) {
                if (data.error_cantidad) {
                    alert("Digitar correctamente las cantidades de la venta perdida para " + data.actual_item_error)
                }
                $("#item-" + item).find('.cantidad_total').html(numberWithCommas(data.total_cantidad))
                $("#item-" + item).find('.total').html(numberWithCommas(data.total_line))
                $("#item-" + item).find('.descuento').html(numberWithCommas(data.descuento))
                $("#coti_val_total").html(numberWithCommas(data.total_cotizacion));
                $("#coti_val_descuento").html(numberWithCommas(data.descuento_total));
            });
        });

        $(".select-venta-perdida").change(function () {
            var item = $(this).prev("input[type='hidden']").val();
            var tipo_select = $(this).context.value
            var motivo_perdida = $(this).parent().parent().find('.tipo_perdida').find('.select-venta-perdida').val()

            if (tipo_select == "NA") {
                $(this).parent().parent().find('.cantidad_perdida').hide()
            } else {
                if (tipo_select != "NA") {
                    $(this).parent().parent().find('.cantidad_perdida').show()
                }
            }

            $(this).parent().parent().find('.cantidad_perdida').find('.item-qty-perdido').get(0).value = 0

            var data = {
                item: item,
                cant_perdida: 0,
                motivo_perdida: motivo_perdida
            };

            $.get("{% url 'cotizaciones:cambiar_venta_perdida_item_cotizacion' %}", data, function (data) {
                $("#item-" + item).find('.cantidad_total').html(numberWithCommas(data.total_cantidad))
                $("#item-" + item).find('.total').html(numberWithCommas(data.total_line))
                $("#item-" + item).find('.descuento').html(numberWithCommas(data.descuento))
                $("#coti_val_total").html(numberWithCommas(data.total_cotizacion));
                $("#coti_val_descuento").html(numberWithCommas(data.descuento_total));
            });
        });

        function numberWithCommas(x) {
            var parts = x.toString().split(".");
            parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            return parts.join(",");
        }

        if (!$('#id_cliente_nuevo').is(':checked')) {
            cotizador_campos_cliente_toggle(this.checked)
        } else {
            cotizador_campos_cliente_toggle(!this.checked)
        }

        if (!$('#id_otra_ciudad').is(':checked')) {
            cotizador_campos_ciudad_toggle(this.checked);
        } else {
            cotizador_campos_ciudad_toggle(!this.checked);
        }


        if (!$('#id_contacto_nuevo').is(':checked')) {
            cotizador_campos_contacto_toggle(this.checked)
        } else {
            cotizador_campos_contacto_toggle(!this.checked)
        }

        $("#id_cliente_nuevo").change(function () {
            cotizador_campos_cliente_toggle(this.checked)
        });

        $("#id_contacto_nuevo").change(function () {
            cotizador_campos_contacto_toggle(this.checked)
        });

        $("#id_otra_ciudad").change(function () {
            cotizador_campos_ciudad_toggle(this.checked);
        });


        function cotizador_campos_contacto_toggle(bool) {
            $("#div_id_contacto").toggle(!bool);
            $("#div_id_nombres_contacto").toggle(bool);
            $("#div_id_apellidos_contacto").toggle(bool);
            $("#div_id_nro_contacto").toggle(bool);
            $("#div_id_email").toggle(bool);
        }

        function cotizador_campos_ciudad_toggle(bool) {
            $("#div_id_pais").toggle(bool);
            $("#div_id_ciudad").toggle(bool);
            $("#div_id_ciudad_despacho").toggle(!bool);
        }

        function cotizador_campos_cliente_toggle(bool) {
            $("#div_id_razon_social").toggle(bool);
            $("#div_id_cliente_biable").toggle(!bool);
        }

        $(':input[name$=cliente_biable]').on('change', function () {
            var prefix = $(this).getFormPrefix();
            $(':input[name=' + prefix + 'contacto]').val(null).trigger('change');
        });

    {% endblock %}
</script>
