{% if perms.biable.ver_clientes %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Clientes<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'biable:clientes-lista' %}">Clientes Listado</a></li>
            <li><a href="{% url 'biable:clientes-lista-mis-clientes' %}">Mis Clientes</a></li>
            <li><a href="{% url 'contactos:agenda-contactos' %}">Agenda Contactos</a></li>
        </ul>
    </li>
{% endif %}