{% if perms.cotizaciones.gestion_cotizaciones %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Cotizaciones<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'cotizaciones:listar_cotizaciones' %}">Consultar</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'cotizaciones:listar_tareas' %}">Seguimiento Tareas</a></li>
            <li><a href="{% url 'cotizaciones:listar_remisiones' %}">Seguimiento Remisiones</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'cotizaciones:cotizador' %}">Cotizar Componentes</a></li>
        </ul>
    </li>
{% endif %}