{% load staticfiles %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
                <img class="img-responsive" src="{% static "www/img/logos/logo.png" %}" alt="logo"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if not user.is_authenticated %}
                    <li><a href="/accounts/login/" class="fa fa-sign-in fa-2x" aria-hidden="true" role="button">
                        Entrar </a></li>
                {% endif %}
                {% include 'nav/cotizaciones.html' %}
                {% include 'nav/reportes_ventas.html' %}

                {% if perms.despachos_mercancias.ver_segui_envio_tcc %}
                    <li><a href="{% url 'despacho_mercancia:envio-reporte' %}">Envios TCC</a></li>
                {% endif %}
                {% if perms.biable.reporte_ventas_todos_vendedores %}
                    <li><a href="{% url 'seguimientos:usuarios_gestion_comercial_list' %}">Gestion Comercial</a></li>
                {% endif %}

                {% include 'nav/clientes.html' %}

                <li><a href="{% url 'bandas:listar_bandas' %}">Bandas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <strong>{{ request.user.username }}</strong>
                        <span class="fa fa-sort-desc" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login" style="padding: 10px">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="text-center">
                                            {% if request.user.user_extendido.colaborador.foto_perfil %}
                                                <img class="img-circle" height="100" width="100"
                                                     src="{{ request.user.user_extendido.colaborador.foto_perfil.url }}"/>
                                            {% else %}
                                                <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-xs-12">
                                        <p class="text-left"><strong>{{ request.user.get_full_name }}</strong></p>
                                        <p class="text-left small">{{ request.user.email }}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="/admin" target="_blank" class="fa fa-lock" aria-hidden="true"
                                   role="button">
                                Sitio Admin</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a href="{% url 'auth_logout' %}?next=/" class="fa fa-sign-out fa-2x" aria-hidden="true"
                               role="button">
                            Cerrar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>